/* BOTÃO EXCLUIR REGISTRO */
.container-excluir {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
}

.botao-excluir {
    width: 110px;
    height: 25px;
    margin: 0 10px;
    background-color: #ff6161;
    font-size: 12px;
    color: white;
    border: 1px solid #D9E4E8;
    border-radius: 50px;
}

.botao-excluir:hover {
    background-color: #ff4747;
}
/* BOTÃO EXCLUIR REGISTRO */


/* CAMPOS DE EDIÇÃO DE INFORMAÇÕES */
.container-inputs .material-icons {
    font-size: calc(30px + 75%);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.row {
    border-bottom: 1px solid #dfdfdf;
}

.container-icone {
    display: flex;
    justify-content: center;
    margin: 0;
}

.container-descricao {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 25px 15px;
}

.container-descricao input {
    border: none;
    width: 100%;
    height: 100%;
}

.container-descricao input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
/* CAMPOS DE EDIÇÃO DE INFORMAÇÕES */


/* BOTÃO SALVAR */
.container-botao-salvar {
    padding: 45px 0;
    display: flex;
    justify-content: center;
    border: none;
}

.botao-salvar {
    width: 100%;
    height: 50px;
    border: 1px solid #484848;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #FF7700;
    margin: 0;
}

.botao-salvar:hover {
    background-color: #e56b00;
}

.container-botao-salvar a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
/* BOTÃO SALVAR */